.u-section-1 .u-sheet-1 {
  min-height: 442px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 552px;
  margin: 21px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 75px 0 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  margin: 36px 30px 0 0;
}

.u-section-1 .u-image-1 {
  width: 549px;
  min-height: 400px;
  height: auto;
  background-image: url("./images/cyber.jpg");
  margin: -403px -13px 24px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 457px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-1 .u-image-1 {
    width: 453px;
    min-height: 283px;
    margin-top: -313px;
    margin-bottom: 60px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 395px;
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 384px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: -251px;
    margin-left: 113px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 33px;
  }

  .u-section-1 .u-image-1 {
    width: 319px;
    min-height: 275px;
    margin-top: -301px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -69px;
    margin-right: -69px;
  }

  .u-section-1 .u-image-1 {
    width: 477px;
    min-height: 312px;
    margin: 11px auto 19px 17px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -7px;
    margin-bottom: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.95), rgba(0,0,0,0.95)), url("./images/fundoInformacoes.jpg");
  background-position: 50% 79.02%;
}

.u-section-2 .u-sheet-1 {
  min-height: 555px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 422px;
}

.u-section-2 .u-container-layout-1 {
  padding: 19px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 1px 0 0 10px;
}

.u-section-2 .u-icon-1 {
  width: 29px;
  height: 29px;
  margin: -117px auto 0 4px;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 29px;
  height: 29px;
  margin: 0 auto 0 4px;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 29px;
  height: 29px;
  margin: -3px auto 0 4px;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  width: 29px;
  height: 29px;
  margin: 3px auto 1px 4px;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 422px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: -30px;
    margin-left: 0;
    font-weight: normal;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 61px;
    margin-bottom: -80px;
    margin-left: -1px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(#292e33, #4c7397);
}

.u-section-3 .u-sheet-1 {
  min-height: 618px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-3 .u-video-1 {
  height: 369px;
  width: 649px;
  margin: 47px -21px 0 auto;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-text-2 {
  margin: -361px 658px 60px 35px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    font-weight: normal;
    margin-left: 32px;
    margin-right: 461px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 241px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 380px;
    margin-left: 0;
  }

  .u-section-3 .u-video-1 {
    height: 300px;
    margin-top: -359px;
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 182px;
    margin-right: 61px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 271px;
  }

  .u-section-3 .u-video-1 {
    height: 190px;
    margin-top: -243px;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 156px;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: linear-gradient(#4c7397, #555c66);
}

.u-section-4 .u-sheet-1 {
  min-height: 692px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 572px;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0 -227px 0 227px;
}

.u-section-4 .u-text-2 {
  margin: 45px 570px 0 28px;
}

.u-section-4 .u-text-3 {
  margin: 21px 592px 0 28px;
}

.u-section-4 .u-icon-2 {
  width: 26px;
  height: 26px;
  margin: -138px auto 0 45px;
  padding: 0;
}

.u-section-4 .u-icon-3 {
  width: 26px;
  height: 26px;
  margin: 0 auto 0 45px;
  padding: 0;
}

.u-section-4 .u-icon-4 {
  width: 26px;
  height: 26px;
  margin: 0 auto 0 45px;
  padding: 0;
}

.u-section-4 .u-icon-5 {
  width: 26px;
  height: 26px;
  margin: 0 auto 0 45px;
  padding: 0;
}

.u-section-4 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: -263px -23px 0 auto;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-text-4 {
  margin: 5px 570px 0 28px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 398px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 420px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 398px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 178px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 200px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 178px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 20px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    height: 304px;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 191px;
  }
} .u-section-5 {
  background-image: linear-gradient(#666666, #4c7397);
}

.u-section-5 .u-sheet-1 {
  min-height: 692px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 572px;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0 897px 0 29px;
}

.u-section-5 .u-text-2 {
  margin: 45px 570px 0 28px;
}

.u-section-5 .u-text-3 {
  margin: 21px 592px 0 28px;
}

.u-section-5 .u-icon-2 {
  width: 26px;
  height: 26px;
  margin: -81px auto 0 45px;
  padding: 0;
}

.u-section-5 .u-icon-3 {
  width: 26px;
  height: 26px;
  margin: 0 auto 0 45px;
  padding: 0;
}

.u-section-5 .u-icon-4 {
  width: 26px;
  height: 26px;
  margin: 0 auto 0 45px;
  padding: 0;
}

.u-section-5 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: -237px -23px 0 auto;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-text-4 {
  margin: -52px 570px 0 28px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 726px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 398px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 420px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 398px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 506px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 178px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 200px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 178px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 326px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 20px;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
    height: 304px;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: -35px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 126px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 78px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 400px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 auto 0 20px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 513px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 13px auto 0 10px;
}

.u-section-6 .u-form-1 {
  height: 328px;
  margin: 35px 20px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 513px;
}

.u-section-6 .u-container-layout-2 {
  padding: 7px 0;
}

.u-section-6 .u-text-2 {
  margin: 40px auto 0 16px;
}

.u-section-6 .u-icon-1 {
  width: 29px;
  height: 29px;
  color: rgb(16, 129, 224) !important;
  margin: 4px auto 0 16px;
  padding: 0;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  margin: -29px auto 0 45px;
}

.u-section-6 .u-image-1 {
  width: 487px;
  height: 326px;
  margin: 20px 35px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 423px;
  }

  .u-section-6 .u-form-1 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 423px;
  }

  .u-section-6 .u-image-1 {
    width: 470px;
    height: 314px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    width: 360px;
    height: 241px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    width: 340px;
    height: 228px;
  }
}